<h1>I am add course page</h1>
<form id="add_course_form">
    <label> title: </label>
    <input name="title"><br>
    <label> category: </label>
    <input name="category"><br>
    <label> date: </label>
    <input name="date"><br>
    <label> quota: </label>
    <input name="quota"><br>
    <label> price: </label>
    <input name="price"><br>
    <p>etc.......</p>
    <input type="submit" value="Submit"><br>
</form>
<p id='success_add_msg'></p>
<a href='/dashboard'>dashboard</a>