<form action="/shop/info" method="put" class="form2" >
        <div class="container2">
            <div class="edit_shop_title">Edit My Account</div>
            <div id="edit_shop_form">
                {{!-- content at shop_frontend.js --}}      
            </div>      
        </div>
    </form>
