
<h1>I am list booking page</h1>
{{!-- <table id="list_booking_table">
    content at shop_frontend.js
</table> --}}
<a href='/dashboard'>dashboard</a>


    <section id='section1'>
    </section>

    <section id='section2'>
        <div class='bookinglist container'>
            <h4>Booking List</h4>
            <br>
            <h3>Flowers Watercolour Workshop</h3>
    
            <div class='table_container'>
                <table class='booking_list_table' id="list_booking_table">                    
                </table>
            </div>
        </div>

    </section>
