.addcourse{
    margin: 200px;
    border:solid 2px #40BAB3;
    border-radius: 30px;
}
.HostC{
    text-align: center;
    font-size: 30px;;
    background: #40BAB3;
    color: white;
    padding: 10px;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.CourseI,.CourseD,.CourseIm{
    text-align: center;
    font-size: 20px;
    padding-top: 50px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 70px;
    padding-left: 150px;

}
#CourseT,#Category,#Location,#Date,#StartT,#EndT,#AgeR,#Quota,#Price{
    border-radius: 30px;
    background-color: #DFDFDF;
    border-color:#DFDFDF ;
    width: auto;
}
#CourseT,#Category,#Location{
    width: 80%;
}
.grid-item1,.grid-item2,.grid-item3,.grid-item4,.grid-item9{
    grid-column-start: 1;
    grid-column-end: 3;
}

.CourseD2{
    padding-left: 150px;
}
#AboutC,#SpecN{
    width: 80%;
    height: 40%;
}

.CourseIm2{
    padding-left:150px;
}
#Banner{
    border-radius: 30px;
    background-color: #DFDFDF;
    border-color:#DFDFDF ;
    width: 500px;
}