:root {
    --color1: #40bab3;
    --color2: #030e4c;
    --color3: #ffd335;
    --color4: #cd0000;
    --color5: #297373;
  }
.dbox{
    display: flex;
    flex-direction: column;
} 
.form1{
    margin:100px;
    margin-left: 200px;
    margin-right: 200px;
    border: 2px solid var(--color1);
    border-radius: 30px;;
}
.beour{
    background-color: var(--color1);
    padding: 20px;
    color: white;
    align-items: center;
    text-align: center;
    border-top-left-radius: 27px;
    border-top-right-radius: 27px;
}
.d1{
    margin-top: 50px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
/* .d1,.d2,.d3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.d4{
    display: flex; */
    /* flex-direction: row; */
    /* align-items: center; */
    /* padding-left: 360px; */
    /* justify-content: space-evenly; */
    
/* } */
#sexg, #sexb{
    margin-left: 10px;
    margin-right: 10px;
}
/* .dobb{
    margin-left: 20.2%;
    margin-right: 24%;
} */
/* .d4_2{
    padding-left: 410px; */
    /* margin-right: 6%;
    
} */

#email,#password,#fname,#sname,#uname,#tel{
    border-radius: 30px;
    background-color: #DFDFDF;
    border-color:#DFDFDF ;
    width: 200px;
}
.form1 .btn-warning{
  margin-left: 40%;
  width: 20%;
  border-radius: 30px;
  margin-top: 80px;
  margin-bottom: 60px;;
  background-color: var(--color3);

}