<div class='errorPage container text-center'>
    <h1>ERROR</h1>
    <button><a href='/'>Home Page</a></button>
<button><a href='/login'>Login</a></button>
    {{#if error}}
    <h3>{{error}}</h3>
{{/if}}

    </div>