<div class='firstPage container'>
<div class='firstPage-header'>
<h1 class='firstPage-h1'>Welcome to my Death Note App</h1>
    <button><a href='/login'>Login</a></button>
    <button><a href='/signup'>Sign Up</a></button>
    <button><a href='/index'>Start Writing</a></button>
    </div>


<h3>How to use</h3>
    <ul>
       <li> The human whose name is written in this note shall die.</li>
<li>This note will not take effect unless the writer has the person's face in their mind when writing his/her name. Therefore, people sharing the same name will not be affected. </li>
<li>If the cause of death is written within the next 40 seconds of writing the person's name, it will happen.</li>
<li>If the cause of death is not specified, the person will simply die of a heart attack.</li>
<li>After writing the cause of death, details of the death should be written in the next 6 minutes and 40 seconds.</li>
    </ul>

    </div>