{{!-- Create the main body of your application in this file, display your users notes --}}

<script type='text/javascript'>console.log( 'does this run' )</script>
<div class="background container-fluid">
<div class="header clearfix">
            <nav>
                <ul class="nav nav-pills float-right">
                    <li class="nav-item">
                        <button id='logout'>Logout</button>
                    </li>
                </ul>
            </nav>
            <h4>Welcome back, {{user}}. Are you READY?</h4>
            
        </div>

<div class="note-section row d-flex justify-content-center" id="firstRow">
    <div class="col-lg-6 ">
        
        <h4>Write a death note</h4>
        <form id="add" class="row">
            <div class="col col-sm-10">
                <textarea type="text" name="note" class='noteArea'></textarea>
            </div>
            <div class="col col-sm-2">
                <input type="submit" value="Write" id='write'>
            </div>
        </form>
    </div>
</div>
<div class="note-section row d-flex justify-content-center" id="secondRow">

    <div class="col-lg-6">
        <h4 id="yourNote">Your Death notes:<span class="saving">Saving...</span></h4>
        <div id="notes">
            {{#each notes}}
            <div class="note">
                <span class="input"><textarea data-id="{{ @index }}" class='noteArea'>{{ this }}</textarea></span>

                <button class="remove btn btn-xs" data-id="{{ @index }}"><i class="fas fa-skull-crossbones"
                        aria-hidden="true"></i></button>
            </div>
            {{/each}}
        </div>
    </div>
    
</div>
<footer class="footer">
            <p>&copy; Xccelerate HK 2021 @KahoPong</p>
</footer>

</div>
