<div class='signupPage container'>
    <div class='col-4 offset-4'> 
<h1 class='text-center'>Sign Up</h1>


<form action="/signup" method="post">
        <div class='signupInput'>
            <label>Username:</label>
            <input type="text" name="username" />
        </div>
        <div class='signupInput'>
            <label>Password:</label>
            <input type="password" name="password" />
        </div>
        <div class='signupInput'>
            <input type="submit" value="Sign up" id='signupPage-submit'/>
        </div>
    </form>

    </div>
    <h3 class='text-center'>Are you READY to be a death note user?</h3>
    </div>