<div class="OneCourse">
    <div id="nav_path" class="d-flex justify-content-start">
        <span class="category">Category</span>
        <span>&nbsp; > &nbsp;</span>
        <span class="coureseTitle">Flowers Watercolour Workshop</span>
    </div>

    <section id="bannerSlider">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/Flowers_Watercolour.jpeg" class="d-block mx-auto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/flower_2.jpeg" class="d-block mx-auto" alt="...">
              </div>
              <div class="carousel-item">
                <img src="/Flowers_Watercolour.jpeg" class="d-block mx-auto" alt="...">
              </div>
            </div>
            <button class="carousel-control-prev pre_button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                <i class="fas fa-arrow-circle-left courseinfo_i" aria-hidden="true"></i>
            </button>
            <button class="carousel-control-next next_button" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                <i class="fas fa-arrow-circle-right courseinfo_i" aria-hidden="true"></i>
            </button>
          </div>
    </section>

    <section id='Section2'>
        <div class="container">
            <div class="row course">
                <!-- left side info -->
                <div class="col-lg-8 col-sm-12 ">
                    <!-- Title + Fav Row -->
                    <div class="row course_head">
                        <div class="title col-lg-11"><h4 class="courseinfo_h4">Flowers Watercolour Workshop</h4></div>
                        <div class="fav_icon col-lg-1"><i class="far fa-heart"></i></div>
                    </div>
                    <!-- Age Range + Quota Row -->
                    <div class="course_feature">
                        <div class="row">
                            <div class="col-lg-6 ">
                                <i class="fas fa-users courseinfo_i"></i>
                                <span>Age Range: 18-60</span>
                            </div>
                            <div class="col-lg-6 ">
                                <i class="fas fa-chart-pie courseinfo_i"></i>
                                <span>Quota: 10</span>
                            </div>
                        </div>
                    </div>
                    <!-- Course About Row -->
                    <div class="course_about">
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="course_about_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum, neque in sollicitudin sagittis, dolor augue porttitor augue, quis ornare neque massa vitae metus. Donec nec congue enim. Pellentesque dictum nunc ac erat pharetra, in suscipit tellus hendrerit. Donec lacinia, est et aliquam auctor, metus felis maximus orci, et ultrices sapien sem at orci. Phasellus dapibus lacus quam, ac consequat augue eleifend non. Suspendisse lacinia orci eu sem tristique, eget viverra diam aliquet. In luctus nulla eu interdum varius. Maecenas pharetra lacinia ex sit amet posuere. Nullam felis augue, molestie ut iaculis et, convallis a quam. Suspendisse bibendum diam elit, id accumsan urna convallis non. Mauris eros metus, maximus lacinia tristique ac, dapibus a quam. Duis cursus sodales dui malesuada pulvinar. </br></br>Maecenas tempus at metus viverra vehicula.Suspendisse sodales augue eu erat sagittis laoreet. Etiam sit amet sagittis erat. Sed condimentum consequat pretium. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse faucibus ac metus at dictum. In mauris augue, tincidunt et odio id, aliquam mattis sapien. Curabitur a ullamcorper nibh, vel semper nulla. Pellentesque tempor felis mattis mattis convallis. Pellentesque porttitor, risus sit amet posuere euismod, metus nulla semper orci, ut tempor est sapien elementum nulla. Vestibulum ut ex eget neque molestie bibendum. Nulla scelerisque dolor et odio finibus, a fermentum nibh consectetur. Pellentesque iaculis diam lacinia, ultricies est nec, accumsan neque. Aenean vehicula nibh ut nulla dapibus placerat. Ut rhoncus purus placerat dui faucibus dignissim.Fusce porttitor, risus sed tempor luctus, dui urna fermentum ante, vel mollis est erat id risus. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce facilisis laoreet ultrices. Maecenas tincidunt sollicitudin venenatis. Curabitur ut suscipit justo. Sed sed elit nec erat molestie vulputate. Integer vel pulvinar justo.</br></br>Donec eleifend erat felis, quis molestie ex dapibus eu. Curabitur aliquet urna eget erat dapibus, a sodales justo posuere. Nunc vehicula risus eleifend, consequat lacus nec, accumsan enim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in lacus non lacus blandit pharetra vel sit amet eros. Nam in tristique dolor. Cras sit amet nulla sapien. Proin eget hendrerit leo. Nam non lacinia lorem. Proin et gravida augue, quis interdum odio. Curabitur varius ex nec libero mollis feugiat. Sed pellentesque elit mauris, vitae egestas nisi maximus eu. Suspendisse pharetra sapien ut magna pharetra, quis euismod lectus facilisis. Aenean nec euismod odio. Nunc dictum, libero sit amet blandit suscipit, purus nisl imperdiet ex, ac condimentum arcu lectus et orci. Nulla dui velit, congue in orci in, maximus porttitor nunc.</p>
                            </div>
                        </div>
                    </div>
                    <!-- Special note  Row-->
                    <div class="course_specialnote">
                        <div class="row">
                            <div class="col-lg-6 course_specialnote_title">
                                <i class="fas fa-comment courseinfo_i"></i>
                                <span>Special Notes</span>
                            </div>
                        </div>
                    </div>

                    <div>
                        <div class="row">
                            <div class="col-lg-12">
                                <p class="course_specialnote_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas dictum, neque in sollicitudin sagittis, dolor augue porttitor augue, quis ornare neque massa vitae metus. Donec nec congue enim. Pellentesque dictum nunc ac erat pharetra, in suscipit tellus hendrerit. Donec lacinia, est et aliquam auctor, metus felis maximus orci, et ultrices sapien sem at orci. Phasellus dapibus lacus quam, ac consequat augue eleifend non. Suspendisse lacinia orci eu sem tristique, eget viverra diam aliquet. In luctus nulla eu interdum varius. Maecenas pharetra lacinia ex sit amet posuere. Nullam felis augue, molestie ut iaculis et, convallis a quam. Suspendisse bibendum diam elit, id accumsan urna convallis non. Mauris eros metus, maximus lacinia tristique ac, dapibus a quam. Duis cursus sodales dui malesuada pulvinar.</p>
                            </div>
                        </div>
                    </div>




                </div>

                <!-- Right card -->
                <div class="col-lg-4 col-sm-12 courseInfo">
                    <div class="courseInfo_container">
                        <div class="courseInfo_title">Course Details</div>
                            <table class="courseInfo_content">
                                <tbody>
                                <tr>
                                    <td class="icon_col"><i class="fas fa-calendar courseinfo_i"></i></td>
                                    <td class="info_col">2022-01-01</td>
                                </tr>
                                <tr>
                                    <td class="icon_col"><i class="fas fa-clock courseinfo_i"></i></td>
                                    <td class="info_col">12:00 - 15:00</td>
                                </tr>
                                <tr>
                                    <td class="icon_col"><i class="fas fa-map-marker-alt courseinfo_i"></i></td>
                                    <td class="info_col">Tsim Sha Tsui</td>
                                </tr>
                                <tr>
                                    <td class="icon_col"><i class="fas fa-tag courseinfo_i"></i></td>
                                    <td class="info_col">HKD$150.00</td>
                                </tr>
                                </tbody>
                            </table>
                            <button type="button" class="booknow btn">BOOK NOW</button>
                        </div>
                    </div>
                </div>

            </div>
    </section>

</div>



