<section id='section1'>
        <div class='jumbotron-fluid d-flex align-items-center justify-content-center'>
            <div class='slogan container-fluid'>
                <h1>LEARN
                    <br>HOBBIES<br>FUN<br>ENJOY
                </h1>
                <button class='explore'>Explore More</button>
            </div>
        </div>
</section>

{{!-- filter form trial --}}
<section id='section0'>
    <div class='filter_form container'>
    <h4>Filter</h4>
        <form class="filter row" id="filter_form">
             <div class="category col-lg-3">
                    <h5>Category</h5>
                    <div class="checkbox">
                        <label><input name="category" type="checkbox" value="Sports"/>Sports</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="category" type="checkbox" value="School Subjects"/>Academic Subjects</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="category" type="checkbox" value="Art"/>Art</label>
                    </div>  
            </div>
            {{!-- <div class="price col-lg-3">
                    <h5>Price</h5>
                    <div class="checkbox">
                        <label><input name="price" type="checkbox" value='0'/>$0 - $99</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="price" type="checkbox" value='100'/>$100 - $199</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="price" type="checkbox" value='200'/>$200 - $299</label>
                    </div>  
                    <div class="checkbox">
                         <label><input name="price" type="checkbox" value='300'/>$300+</label>
                    </div>  
            </div> --}}
            <div>
        <input type="text" class="sliderValue" data-index="0" value="10" />
        <input type="text" class="sliderValue" data-index="1" value="90" />
    </div>
    <br />
    <div id="slider"></div>
            
            <div class="age col-lg-3">
                    <h5>Age</h5>
                    <div class="checkbox">
                        <label><input name="age" type="checkbox" value="kids"/>Kids (0-12years)</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="age" type="checkbox" value="junior"/>Junior (13-18years)</label>
                    </div>
                    <div class="checkbox">
                         <label><input name="age" type="checkbox" value="adults"/>Adults (19-65years)</label>
                    </div>  
                    <div class="checkbox">
                         <label><input name="age" type="checkbox" value="senior"/>Senior (65+years)</label>
                    </div>  
            </div>
    <input type="submit" value="submit" style='width:100px;'/>
  </form>
</div>
</section>
    <section id='section2'>
        <div class='categories container-fluid'>
            <div class='title'>Categories</div>
            <div class='logoRow row d-flex justify-content-around'>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
                <div class='logo col-lg-1 col-md-4 d-flex flex-column align-items-center'>
                    <div class='circle'></div>
                    <h5>Pottery</h5>
                </div>
            </div>
        </div>
    </section>

    <section id='section3'>
        <div class='courses container-fluid '>
            <div class='row d-flex justify-content-around' id="All_course_card">
               
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='card-container col-lg-4'>
                    <div class="card">
                        <img class="card-img-top" src="./lego.jpeg" alt="card-img-cap">
                        <div class="card-body">
                            <h5 class="card-title">Workshop Name</h5>
                            <h6 class="card-subtitle mb-2 text-muted">Category</h6>
                            <div>
                                <span class="card-text float-left"><i class="far fa-clock"></i>&nbsp;&nbsp;3 hours</span>
                                <span class="card-text float-right"> $900</span>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

