:root {
    --color1: #40BAB3;
    --color2: #030E4C;
    --color3: #FFD335;
    --color4: #CD0000;
    --color5: #297373;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    color: var(--color2)
}

.jumbotron-fluid {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('./lego.jpeg');
    min-height: 35vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.jumbotron-fluid .slogan h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.jumbotron-fluid .slogan {
    margin: 50px 100px;
    width: 70%;
}

.jumbotron-fluid .slogan .explore {
    background-color: var(--color3);
    font-size: 18px;
    border-radius: 25px;
    width: 180px;
    height: 50px;
    border: none;
}

.categories {
    width: 70%;
    margin-top: 20px;
}

.categories .title {
    font-size: 24px;
    margin-bottom: 20px;
}

.categories .logoRow {
    height: 100px;
}

.categories .logoRow .logo .circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background-color: rgb(200, 200, 200);
    margin-bottom: 15px;
}

.categories .logoRow .logo h5 {
    font-size: 18px;
    /* border: 3px solid red */
}

.categories .logoRow .logo .text {
    width: 100%;
    text-align: center;
    font-size: 16px;
    /* border: 3px solid red */
}

.courses {
    width: 60%;
    margin-top: 100px;
    margin-bottom: 100px;
}

.courses .card-container {
    margin: 10px 0px;
}

.courses .card {
    border-radius: 10px;
}

.courses .card-img-top {
    height: 220px;
    object-fit: cover;
    border-radius: 10px 10px 0px 0px;
}

.footer {
    min-height: 35vh;
    background-color: var(--color1);
    color: white;
    padding: 20px;
}

.footer .logo {
    margin-bottom: 10px;
}

.footer-content {
    width: 70%;
}

.footer .footer-content p,
.footer .footer-content h5 {
    line-height: 1.5;
}

.footer .footer-content h5 {
    margin-bottom: 20px;
}

.footer .copyright {
    margin-top: 10px;
}